.logo-image-block {
  position: relative;
  height: 5rem;
  width: 9rem;
  max-height: 5rem;
  max-width: 9rem;

  .img {
    height: 100%;
    width: auto;
  }
}

.media-image {
  position: relative;

  &.custom-border {
    > span {
      box-shadow: 0rem 0 0 1rem var(--color-main-background),
        -1.75rem 1.75rem 0 0rem var(--color-accent),
        1.75rem -1.75rem 0 0 var(--color-accent);
    }

    .img {
      border-radius: var(--space-md);
    }
  }
}

.fancy-title {
  font-family: "Abril Fatface", cursive;
}

.subtitle-lg {
  font-size: calc(var(--space-xxs) + var(--space-sm));
}

.title-lg {
  margin-bottom: 0;
  font-size: var(--space-xl);
  color: var(--color-primary);
}

// Section
.section-container {
  padding: var(--space-xxl) 0;

  .title {
    color: var(--color-primary);
  }

  .header {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--space-sm);
  }

  @include sm() {
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);

    .header {
      padding-bottom: var(--space-md);
    }
  }
}

/* Product list grid view */

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: var(--space-md);
}

// Hide scroll
.hide-scroll {
  overflow: hidden !important;
}

// Main body container
.main {
  margin-top: var(--space-xxl);
  padding: 0;

  @include sm() {
    padding: 0;
  }
}

// Static width

.tab-container.tab-solid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));

  @include xs() {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: var(--space-md);

    .tab-item {
      min-width: 100%;
    }
  }
}

.hidden {
  display: inline-block;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  margin-top: -100%;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: var(--space-md);

  .media-image {
    cursor: pointer;
    border-radius: var(--space-md);
    overflow: hidden;

    .img {
      transition: transform 0.35s ease;
    }

    &:hover {
      .img {
        transform: scale(1.25);
      }
    }
  }
}
