.page-about {
  .title-section {
    background: url("/images/bg2.jpg") no-repeat top fixed;
    background-size: cover;
    text-align: center;
    position: relative;
    z-index: 0;

    &:after {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
      z-index: -1;
      background: linear-gradient(
        180deg,
        hsla(var(--hue-primary), calc(var(--saturation-primary) / 3), 96%, 0) -56%,
        hsla(var(--hue-primary), calc(var(--saturation-primary) / 3), 96%, 0.4)
          0%,
        hsla(var(--hue-primary), calc(var(--saturation-primary) / 3), 96%, 1)
          100%
      );
    }
  }

  .about-content {
    .image-block {
      width: calc(var(--space-xxl) * 8);
      max-width: 100%;
      margin: var(--space-xxl) auto 0 auto;
    }
  }
}
