.page-menu {
  .menu-category {
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 1px solid var(--color-border);
    margin-bottom: var(--space-lg);
    background-color: var(--color-background-2);

    .category-item {
      padding: var(--space-sm);
      background-color: var(--color-background-3);

      .title {
        margin-bottom: var(--space-xs);
      }
    }

    .menu-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--space-sm);
      border-top: 1px solid var(--color-border);

      &:hover {
        background-color: var(--color-background-1);
      }

      .left-container {
        flex: 1 1 auto;
      }

      .right-container {
      }

      .menu-item-name {
        font-size: 1.125rem;
        margin-bottom: var(--space-xs);
      }

      .menu-item-description {
        margin: 0;
        color: var(--color-subtitle);
      }

      .menu-item-price {
        font-size: var(--space-sm);
      }
    }
  }
}
