// Global
$spacingSizes: zero, xxs, xs, sm, md, lg, xl, xxl;
$breakpoints: xs, sm, md, lg;
$colorList: primary, accent;
$transparent: rgba(0, 0, 0, 0);

// Breakpoints
$breakpoint-xs: 600px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;
